.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

}